<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ firstname }}</title>
</head>
<body>
    <p>Welcome {{ firstname }}</p>
    {% for title in titles %}
        {% set ind = titles.index(title) %}
        <div>
            <h4>{{ title }}</h4>
            <p>{{ authors[ind] }}</p>
            <p>{{ dates[ind] }}</p>
        </div>
    {% endfor %}
    <a href="/add">Add Book</a>
</body>
</html>